<!-- components/sidebar.html -->
<div id="menu">
  <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="menu-inner">
    <ul>
      <li><a href="index.html"><strong>🏠︎ HJEM</strong></a></li>
      <li><br></li>
      <li><a href="smeltesikring.html">➔ Smeltesikring</a></li>
      <li><a href="smeltesikring_motor.html">➔ Smeltesikring m. motorværn</a></li>
      <li><a href="automatsikring.html">➔ Automatsikring</a></li>
      <li><a href="automatsikring_motor.html">➔ Automatsikring m. motorværn</a></li>
      <br>
      <li><a href="ks_sikringskurve_beregner.html">➔ KS sikrings-beregner</a></li>
      <br>
      <li><a href="datakilder.html">➔ Datakilder</a></li>
    </ul>
  </div>
</div>

